<!-- <div class="container">
    <router-outlet></router-outlet>
</div>

<h1>view child example</h1>
<h3>selector property example</h3>

<button routerLink="/component-selector">Component selector</button>

<button routerLink="/directive-selector">Directive selector</button>

<button routerLink="/template-reference-variable-selector">Template reference variable selector</button>

<button routerLink="/class-token-providor-selector"> provider with class token selector</button> -->

<!-- <app-view-children></app-view-children> -->
<router-outlet></router-outlet>
